<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Add User</title>
</head>
<body>
<h2>Add User</h2>
<form action="/users/save" method="post" enctype="multipart/form-data">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required><br>
    <label for="profileImage">Profile Image:</label>
    <input type="file" id="profileImage" name="file" accept="image/*" required><br>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    <button type="submit">Submit</button>
</form>
</body>
</html>
